.main-flex{
    display: flex;
    justify-content: end;
}

.b-d{
    margin:10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* styles.css */

.dialog-open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
    max-width: 90%;
    z-index: 1001;
}

.fish-name,
label {
    font-size: 16px;
    margin-bottom: 8px;
}

input[type="text"],
input[type="file"]
 {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"] {
    width: auto;
    margin:9px;

}

button {
    margin-top:10px;
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 10px;
}



