.rotation-table {
    position: absolute;
    top: 25%;
    left: 2%;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #fff;
    overflow: auto;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}


th {
    padding: 10px 20px;
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    text-transform: uppercase;
}


td {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #333;
}


tr:hover {
    background-color: #f1f1f1;
}


.button-db {
    background-color: #e74c3c;
    border: none;
    color: #fff;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-db:hover {
    background-color: #c0392b;
}

.card-main {
    position: absolute;
    left: 40%;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 70%;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #fff;

}

.imgCards {
    text-align: center;
}

.cards {
    border: 1px solid black;
    height: 35rem;
    border-radius: 20px;
    background: linear-gradient(to top, #003872, rgba(166, 200, 224, 0.27));

}

.data-img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.btn-rotation {
    position: absolute;
    left:12vh;
    bottom:6vh;
}
.img-div-card{
    padding:10px;
    min-height: 40%;
    max-height: 40%;
    object-fit: contain;
    overflow: hidden;

}
.card-title ,.card-text{
    text-align: left;
    margin-left:10px;
}
.card-title{
    font-weight: bolder;
    color: white;
    font-size: 2.3rem;
    margin-top:2vh;
}
.card-text{
    color: white;
    font-size: 1rem;
    margin-top:5vh;
}